* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url(./Images/register.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.border {
  position: relative;
  width: 600px;
  background: #111;
  color: #fff;
}

.border:before,
.border:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  top: -3px;
  left: -3px;
  background: linear-gradient(
    45deg,
    #fc0090,
    #0000ff,
    #00ff00,
    #ff0000,
    #ffff00,
    #fc0090,
    #0000ff,
    #00ff00,
    #ffff00
  );
  background-size: 300%;
  animation: border 20s linear infinite;
}

.border:after {
  filter: blur(5px);
}

.add-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.edit-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 80%;
  height: 10%;
  padding: 15px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  height: 50%;
  padding: 10px;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-size: 70px;
  letter-spacing: 3px;
}

.header {
  text-align: center;
  margin: 15px;
}

@keyframes border {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300%;
  }
  100% {
    background-position: 0 0;
  }
}

/* Button */
.buttons {
  font-size: 25px;
  height: 50px;
  width: 80%;
  display: block;
  transition: 0.5s ease;
  color: #00ebc4de;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid #00ebc4de;
}

.buttons:hover {
  background: linear-gradient(
    45deg,
    #fc0090,
    #0000ff,
    #00ff00,
    #ff0000,
    #ffff00,
    #fc0090,
    #0000ff,
    #00ff00,
    #ffff00
  );
  letter-spacing: 15px;
  color: black;
  background-size: 400% 400%;
  animation: hover 15s ease infinite;
}

@keyframes hover {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 80%;
  }
}

/* Navbar */
/* Clearing floats */

.nav {
  min-width: 1200px;
  width: 90%;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* Mini reset, no margins, paddings or bullets */
.menu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Main level */
.menu {
  margin: 50px auto;
  width: 800px;
  /* http://www.red-team-design.com/horizontal-centering-using-css-fit-content-value */
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

.menu > li {
  margin: 5px;
  background: transparent;
  border: 1px solid #00ebc4de;
  letter-spacing: 1px;
  float: left;
  position: relative;
  transform: skewX(25deg);
}

.menu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px;
}

.menu li:hover {
  background: #00ebc4de;
}

.menu > li > a {
  transform: skewX(-25deg);
  padding: 1em 2em;
}

/* Dropdown */
.submenu {
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;
}

.submenu li {
  background-color: #00ebc4de;
  border: 1px solid #00ebc4de;
  position: relative;
  overflow: hidden;
}

.submenu > li > a {
  padding: 1em 2em;
}

.submenu > li::after {
  content: "";
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
}

/* Odd stuff */
.submenu > li:nth-child(odd) {
  transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}

/* Even stuff */
.submenu > li:nth-child(even) {
  transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;
}

.submenu li {
  transition: 0.2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
}

.menu > li:hover .submenu li:nth-child(even) {
  transform: skewX(25deg) translateX(15px);
}

.menu > li:hover .submenu li:nth-child(odd) {
  transform: skewX(-25deg) translateX(-15px);
}
