* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url(./Images/register.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.border {
  position: relative;
  width: 600px;
  background: #111;
  color: #fff;
}

.border:before,
.border:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  top: -3px;
  left: -3px;
  background: linear-gradient(
    45deg,
    #fc0090,
    #0000ff,
    #00ff00,
    #ff0000,
    #ffff00,
    #fc0090,
    #0000ff,
    #00ff00,
    #ffff00
  );
  background-size: 300%;
  animation: border 20s linear infinite;
}

.border:after {
  filter: blur(5px);
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*   background-color: black; */
  width: 100%;
  padding: 10px;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 80%;
  height: 20%;
  padding: 15px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  height: 50%;
  padding: 15px;
  margin-bottom: 10px;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-size: 70px;
}

.button {
  text-decoration: none;
  text-align: center;
  color: #00ebc4de;
}

.button:hover {
  color: #fff;
}

.details {
  color: white;
  padding: 5px;
}

@keyframes border {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300%;
  }
  100% {
    background-position: 0 0;
  }
}

/* Button */
.buttons {
  font-size: 25px;
  height: 50px;
  width: 100%;
  display: block;
  transition: 0.5s ease;
  color: #00ebc4de;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid #00ebc4de;
}

.buttons:hover {
  background: linear-gradient(
    45deg,
    #fc0090,
    #0000ff,
    #00ff00,
    #ff0000,
    #ffff00,
    #fc0090,
    #0000ff,
    #00ff00,
    #ffff00
  );
  letter-spacing: 15px;
  color: black;
  background-size: 400% 400%;
  animation: hover 15s ease infinite;
}

@keyframes hover {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 80%;
  }
}
