* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url(./Images/register.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  color: white;
  padding: 10px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.outerborder {
  width: 53%;
  height: 35%;
  padding: 1rem;
  position: relative;
  background: linear-gradient(
    to right,
    #ff3b21,
    #ffcb47,
    #9cf71b,
    #33ffcc,
    #9757ff,
    #fc49eb,
    #e82727
  );
  padding: 3px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 350px;
  height: 40px;
  margin: 10px 0px 10px 0px;
}

.buttons {
  text-decoration: none;
  color: black;
  text-align: center;
  background: white;
  border: none;
  width: 300px;
  height: 200px;
}
